<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Redis Example</title>
</head>
<body>
    <header>
        <div>
            <h1>Hello Docker</h1>
        </div>
    </header>
    <section>
        Keyword: <%= key %>
    </section>
    <main>
        <form action="submit" method="POST">
            <label for="keyword">Enter a name:</label>
            <input type="text" id="keyword" name="keyword" >
            <button type="submit">submit</button>
        </form>
    </main>
</body>
</html>