@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #242424;
  color: white;
  padding: 8px 16px;
}

.main-header > div {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.main-header > div > img {
  width: 100px;
  margin-left: 15px;
}

.main-header__search form {
  /* border: 1px solid #ddd; */

  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__search input {
  width: 500px;
  padding: 10px;

  height: 100%;
  background: #121212;
  border: none;
  margin: 0 20px;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: inline-block;
  margin: 5px 16px;
}

.main-nav__item a {
  padding: 3px 0;
}
